body{
	background-color:#f1f1f1;
}
.img1{
width:30%;
height:190px;
float:left;
margin-left:150px;
}
#kh1{
padding:55px 0 0 20px;
color:#3A5FCD;
font-size:45px;
}
.k1 ul{
list-style-type:none;
max-width:100%;
overflow:hidden;
padding:0;
background-color:lightgrey;
margin:15px 150px 0 150px;
border-right:1px solid grey;
border-left:1px solid grey;
}
.k2 li {
float:left;
}
.k3 li a{
display:block;
padding:20px 25px;
text-decoration:none;
}
.kb1 li
{
    border-right:2px solid #A3A3A3;
}
.kb2 li:last-child 
{
    border-right: none;
}
.kk li a:hover{
	background-color:#7E8F7C;
	}
	#i7{
	margin:0 150px;
	border-top:1px solid grey;
	border-left:1px solid grey;
	border-right:1px solid grey;
	border-bottom:1px solid white;
	background-color:white;
overflow:hidden;
}
.kl10 {
	background-color:lightgrey;
	margin:10px 150px 15px 150px ;
border:1px solid grey;
overflow:hidden;
float:left;
clear:left;
width:1032px;
}
.kl11 table a{
 text-decoration:none;
 color:#1874CD;
 }
  #id13{
	 padding:6px 30px;}
 #id14{
	 padding:6px 65px;}
#id15 a:hover{
	background-color:#7E8F7C;
	}
.kd1 {
	margin:10px 150px 10px 150px;
overflow:hidden;
background-color:lightgrey;
border-right:1px solid grey;
border-left:1px solid grey;	
}
.kd1 h2{
	margin-left:13px;
	color:#104E8B;
	margin-left:10px;
	
}
.kd1 img{
	border:2px solid #8B2500;
	outline:5px solid #757575;
	margin:15px 15px 30px 15px;
	
}
.kd1 p{
	
	margin:30px 450px 15px 15px;
	font-size:19px;
	
}
#idp{
font-size:19px;
margin:110px 50px 30px 15px;
}
#tabela1{
text-align:center;
border-collapse:collapse;
border:1px solid red;
padding:0px;
margin:70px 15px 15px 40px;
background-color:#3C6478;
}
#tabela1 th{
	margin:0px;
padding:5px 20px 5px 20px;
border-collapse:collapse;
border:1px solid lightgrey;
color:#FFC125;
}
#tabela1 td{
	margin:0px;
padding:5px 20px 5px 20px;
border-collapse:collapse;
border:1px solid lightgrey;
color:white;
}

